~$*
*~
*.zip
*.pdf
*.pdb
*.idb
*.exp
*.ilk
*.ncb
*.suo
*.user
*.opensdf
*.sdf
*.sw[op]
*.sln.docstates
*.mdf
*.ldf
.Rd2pdf*

# Visual Studio profiler
*.psess
*.vsp
*.vspx
.DS_Store
*.VC.opendb
*.VC.db
*.log

.vs/
.vscode/
build/*
libs/
arc/inst/
DESCRIPTION
settings.txt

# but not these files
!build.bat
!build.ps1
