~$*
*~
*.pdf
*.dll
*.lib
*.zip
*.pdb
*.idb
*.exp
*.ilk
*.ncb
*.suo
*.user
*.opensdf
*.sdf
*.sw[op]
*.sln.docstates
*.mdf
*.ldf

# Visual Studio profiler
*.psess
*.vsp
*.vspx
.vs
.DS_Store
*.VC.opendb
*.VC.db
*.log

BuildLog.htm
arcgisbinding/
obj/
ipch/
*.lastbuildstate
*/arc.Rcheck
