#include "resource.h"
#include "winres.h"

1 TEXTINCLUDE
BEGIN
"resource.h\0"
END

2 TEXTINCLUDE
BEGIN
"#include ""winres.h""\r\n"
"\0"
END

3 TEXTINCLUDE
BEGIN
"\r\n"
"\0"
END

/////////////////////////////////////////////////////////////////////////////
// Add manually edited resources here...

#include "..\buildnum.h"

#define STRINGIZE_NX(A) #A
#define STRINGIZE(A) STRINGIZE_NX(A)

#define COMPANY_NAME "Esri\0"
#define INTERNALNAME STRINGIZE(DLL_NAME) "\0"
#define ORIGINALFILENAME STRINGIZE(DLL_NAME) ".dll\0"
#if defined(DESKTOP10)
#define PRODUCT_NAME "Esri ArcGIS Desktop R-bridge\0"
#else
#define PRODUCT_NAME "Esri ArcGIS Pro R-bridge\0"
#endif

#define COPY_RIGHT "Copyright ©1999-2015 Esri Inc. All Rights Reserved\0"
#define COPYRIGHT_EXE "Copyright ©1999-2015 Esri Inc. All Rights Reserved\0"

#define BUILD_VER 11,0,1,BUILD_NUM

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
  FILEVERSION BUILD_VER
  PRODUCTVERSION BUILD_VER
  FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", COMPANY_NAME
            VALUE "FileDescription", PRODUCT_NAME
            VALUE "FileVersion", BUILD_NUM
            VALUE "InternalName", INTERNALNAME
            VALUE "LegalCopyright", COPY_RIGHT
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", ORIGINALFILENAME
            VALUE "ProductName", PRODUCT_NAME
            VALUE "ProductVersion", STRINGIZE(BUILD_NUM)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
